name: clang-format

on: [push, pull_request]

jobs:
  clang-format:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: DoozyX/clang-format-lint-action@v0.12
      with:
        source: './include ./src'
        exclude: './include/tao/json/external'
        extensions: 'hpp,cpp'
        clangFormatVersion: 12
